body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.both-navbar-appear {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.both-navbar-disappear {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: -200px;
  z-index: 1;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.upper-navbar {
  display: flex;
  background-color: #000;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #ff4500;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  /* letter-spacing: 1px; */
}

.logo:hover {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4500;
  padding: 5px 10vw ;
}

.nav-links {
  display: flex;
  gap: 8px;
  list-style: none;
  }

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  height: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-bar {
  flex-grow: 2; /* Give more space to the search bar */
  padding: 0 20px;
  max-width: 600px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 30px;
  outline: none;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-icon-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.2s;
  gap: 10px;
}

.navbar-icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.navbar-icon-desc {
  font-weight: bold;
  text-align: center;
  color: black;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 30px;
  max-width: 65%;
}

.right-content {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  max-width: 30%;
}

h2 {
  margin-bottom: 10px;
}

.anime-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.anime-card {
  width: 200px;
  position: relative;
  aspect-ratio: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: ease-in-out;
  transition-duration: 0.15s;
  background-color: #dedede;
}

.anime-card:hover {
  border-radius: 10px;
  scale: 110%;
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.anime-card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Style for the popular anime list */
.popular-list {
  list-style: none;
  padding: 0;
}

/* Style for each popular anime item */
.popular-item {
  display: flex;
  align-items: center;
}

/* Style for the anime image */
.popular-item-anime {
  max-width: 100px; /* Adjust the image size as needed */
  height: auto;
  margin-right: 10px; /* Add space between the image and title/details */
}

.popular-item-studio {
  aspect-ratio: 1;
  max-width: 100px; /* Adjust the image size as needed */
  height: auto;
  margin-right: 10px; /* Add space between the image and title/details */
}


/* Style for the link (image and title) */
.popular-link {
  text-decoration: none; /* Remove underlines from links */
  color: #333; /* Change link color */
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  align-items: center;
  width: 100%; /* Ensure the link spans the entire width */
  margin-top: 15px;
  margin-bottom: 15px;
  transition: ease-in-out;
  transition-duration: 0.15s;
  padding: 10px;
  gap: 5px;
}

.popular-link:hover {
  background-color: #dedede;
  scale: 105%;
  border-radius: 6px;
  transition: ease-in-out;
  transition-duration: 0.15s;
}


/* Style for the anime title */
.popular-details h3 {
  font-size: 18px;
  margin: 0;
  color: #007bff; /* Change title color */
}

/* Style for the anime details */
.popular-details {
  display: flex;
  flex-direction: column; /* Stack details vertically */
  margin-top: 10px; /* Add space between the image/title and details */
}

/* Style for the details paragraphs */
.popular-details p {
  margin: 0;
  color: #555; /* Change details text color */
}

.anime-title {
  position: absolute;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.anime-review-list {
  list-style: none;
  padding: 0;
  border-top: 1px solid #ccc;
}

.anime-review-item {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.user-info {
  margin-bottom: 8px;
}

.username {
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.username:hover {
  color: #e9b037fd;
}


.rating {
  font-weight: bold;
  color: #e9b037fd; /* gold color for the star rating */
  margin-bottom: 8px;
}

.anime-review-item p {
  margin: 0;
  color: #555;
}

.anime-review-item small {
  display: block;
  margin-bottom: 8px;
  color: #aaa; /* slightly lighter gray for date */
}

.site-footer {
  background-color: #ff4500;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  background-color: #ff4500;
  color: #fff;
  padding: 20px 50px; /* Added horizontal padding for spacing */
  text-align: center; /* Centered text content */
}

.footer-nav {
  display: flex;
  font-weight: bold;
  justify-content: center; /* Centered navigation links */
  gap: 20px;
  margin-bottom: 20px;
}

.footer-nav a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s;
  padding: 5px 10px; /* Added padding for better visual appeal */
}

.footer-nav a:hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.2); /* Added a subtle hover effect */
  border-radius: 5px;
}

.footer-info p {
  margin: 5px 0;
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  cursor:pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ababab; 
  border-radius: 10px;
  transition: ease-in-out;
  transition-duration:0.2s;
  opacity:0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab; 
  transition: ease-in-out;
  transition-duration:0.2s;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px 0px;
  background-color: transparent;
}

.page-arrow{
  width: 25px;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.page-arrow:hover{
  background-color: #dbdbdb;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.page-number{
  font-weight: bold;
  font-size: 18px;
}
