.flex-wrap {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px 20px;
}

@media screen and (min-width:500px){
  
  .box-preview {
    width: 150px;
    height: 150px;
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  
  .image-preview {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    gap: 20px 20px;
    padding: 10px;
    border-radius: 10px;
  }

}


@media screen and (max-width:500px){

  .box-preview {
    width: 75px;
    height: 75px;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  
  .image-preview {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    gap: 20px 20px;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
  }
}


.container:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.10);
}

.description {
  display: flex;
  flex-direction: column;
  min-width: 225px;
  max-width: 225px;
  max-height: 150px;
  color: black;
  gap: 5px;
}

.studio-name{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.studio-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 50px;
  background-color: #fff;
  color: #000;
}

.studio-header{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

.studio-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.studio-image-box{
  width: 400px;
  aspect-ratio: 1;
  overflow: hidden;
}

.studio-image{
  width: 100%;
  max-width: 400px;
  object-fit: contain;
  object-position: cover;
}

.studio-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 480px;
}

.studio-details div {
  margin-bottom: 10px;
}

.flex-wrap {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 20px;
}

.anime-box-preview {
  width: 160px;
  aspect-ratio: 3/4;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}

.anime-image-preview {
  width: 100%;
  max-width: 160px;
  object-fit: cover;
  object-position: center;
}

.anime-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: black 1px solid;
  padding: 10px;
  transition: ease-in-out;
  transition-duration: 0.2s;
  width: 240px;
}

.anime-container:hover {
  scale: 110%;
  border-radius: 10px;
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.anime-description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  gap: 5px;
}

.anime-description-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}