.flex-wrap {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px 20px;

}

.box-preview {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.image-preview {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  gap: 20px 20px;
  padding: 10px;
  border-radius: 10px;
}

.container:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.10);
}

.description {
  display: flex;
  flex-direction: column;
  min-width: 225px;
  max-width: 225px;
  max-height: 150px;
}

.studio-name{
  font-size: 24px;
  font-weight: bold;
}
